{{ define "nav" }}
    <a class="breadcrumb-item" href="../..">{{ .Parent.Title }}</a>
    <a class="breadcrumb-item" href="#">{{ .Title }}</a>
{{ end }}

{{ define "main" }}

    <div class="section-header">
        <h1 class="display-4">{{ .Title }}</h1>
        <p class="lead mt-3">{{ .Description }}</p>
    </div>

    {{ if .Parent.Params.memberLink }}
    <div class="alert bg-white border border-gray accesskey-warning mt-3 d-none">
        <div class="d-flex align-items-center justify-content-between">
            <p class="mb-0">You need to <a class="warning-link text-reset" href="{{ .Parent.Params.memberLink }}"><strong>subscribe to all-access membership</strong></a>
                {{ if .Parent.Params.courseLink }}
                    or <a class="warning-link text-reset" href="{{ .Parent.Params.courseLink }}"><strong>buy the course</strong></a>
                {{ end }} 
                to unlock this lab module.</p>
            <a class="btn btn-success btn-sm ml-3" href="{{ .Parent.Params.memberLink }}">Get Access</a>
        </div>
    </div>
    {{ end }}

    <div class="mt-4">
        {{ .Content }}
    </div>

    {{ $lessons := sort .Pages "Params.sortkey" }}
    {{ $firstLesson := index $lessons 0 }}

    <div class="alert bg-white border mt-3" role="warning">
        {{ range $lessons }}
        <p class="fw-bolder">
            <a href="{{ .RelPermalink }}" class="text-reset"><i class="bi-file-text mr-1"></i> {{ .Title }}</a>
        </p>
        {{ end }}
    </div> 
    
    <div class="d-flex mt-4">
        <a class="btn btn-light border border-dark mr-2" href="../.."><i class="bi-caret-left"></i> View All Modules</a>
        <a class="btn btn-primary" href="{{ $firstLesson.RelPermalink }}">Start Lab Module <i class="bi-caret-right"></i></a>
    </div>

{{ end }}
