baseURL = "https://labs.mdft.academy/"
languageCode = "en-us"
title = "MarkDown Labs by MDFT Pro"

[caches]
  [caches.images]
    dir = ':cacheDir/images'

[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true
    [markup.goldmark.parser]
      wrapStandAloneImageWithinParagraph = false
      [markup.goldmark.parser.attribute]
        block = true
  
  [markup.highlight]
    style = "catppuccin-latte"

[params]
  disableEncryption = true
