{{ define "nav" }}
    <a class="breadcrumb-item" href="../../..">{{ .Parent.Parent.Title }}</a>
    <a class="breadcrumb-item" href="..">{{ .Parent.Title }}</a>
    <a class="breadcrumb-item" href="#">{{ .Title }}</a>
{{ end }}

{{ define "main" }}

    <div class="section-header">
        <h1 class="display-4">{{ .Title }}</h1>
        <p class="lead mt-3">{{ .Description }}</p>
    </div>

    {{ $lessons := sort (.Parent.Pages) "Params.sortkey" }}
    {{ $numLessons := len $lessons }}
    {{ $index := -1 }}
    {{ $name := .Name }}
    {{ range $i, $l := $lessons }}
        {{ if eq $l.Name $name }}
            {{ $index = $i }}
        {{ end }}
    {{ end }}
    {{ $percentage := div (mul 100 (add $index 1)) $numLessons }}

    <div class="progress my-4">
        <div class="progress-bar" style="width: {{ $percentage }}%;">Lesson {{ add $index 1 }} of {{ $numLessons }}</div>
    </div>

    {{ if .Params.more }}
    <div id="moreInfo" class="alert alert-info mt-3" role="alert">
        <p><i class="bi-info-square-fill mr-1"></i> {{ .Params.more }}</p>
        <a class="btn btn-success ml-auto" href="{{ .Params.link }}">{{ .Params.learn }} <i class="bi-mortarboard ml-1"></i></a>
    </div>
    {{ end }}

    <div class="mt-4">
        {{ .Content }}
    </div>

    {{ $next := index $lessons (add $index 1) }}
    {{ $prev := index $lessons (sub $index 1) }}

    <div class="d-flex mt-4">
        {{ if gt $index 0 }}
        <a class="btn btn-light border border-dark mr-2" href="{{ $prev.RelPermalink }}"><i class="bi-caret-left"></i> Previous Lesson</a>
        {{ else }}
        <a class="btn btn-light border border-dark mr-2" href="../"><i class="bi-caret-left"></i> Back To Intro</a>
        {{ end }}
        {{ if lt (add $index 1) $numLessons }}
        <a class="btn btn-primary" href="{{ $next.RelPermalink }}">Next Lesson <i class="bi-caret-right"></i></a>
        {{ else }}
        <a class="btn btn-success" href="../../..">End Lab <i class="bi-caret-right"></i></a>
        {{ end }}
    </div>

{{ end }}
