{{ define "nav" }}
    <a class="breadcrumb-item" href="..">{{ .Parent.Title }}</a>
    <a class="breadcrumb-item" href="#">{{ .Title }}</a>
{{ end }}

{{ define "main" }}

    <div class="section-header">
        <h1 class="display-4">{{ .Title }}</h1>
        <p class="lead mt-3">{{ .Description }}</p>
    </div>

    {{ $lessons := sort (.Parent.Pages) "Params.sortkey" }}
    {{ $numLessons := len $lessons }}
    {{ $index := -1 }}
    {{ $name := .Name }}
    {{ range $i, $l := $lessons }}
        {{ if eq $l.Name $name }}
            {{ $index = $i }}
        {{ end }}
    {{ end }}
    {{ $percentage := div (mul 100 (add $index 1)) $numLessons }}

    <div class="progress my-4">
        <div class="progress-bar" style="width: {{ $percentage }}%;">Lesson {{ add $index 1 }} of {{ $numLessons }}</div>
    </div>

    <div class="mt-4">
        {{ .Content }}
    </div>

    <div class="alert bg-white border mt-3" role="warning">
        <h5>Your Next Module</h5>
        <p>
            Are you on the <strong>{{ .Params.pathColor }}</strong> learning path? Then it's time to
            continue your learning journey with the next module in the <strong>{{ .Params.courseName }}</strong> course.
        </p><p>
            {{ .Params.exitText }}
        </p>
        <a class="btn btn-success ml-auto" href="{{ .Params.exitLink }}">Continue With Course <i class="bi-mortarboard ml-1"></i></a>
    </div>

    {{ $next := index $lessons (add $index 1) }}
    {{ $prev := index $lessons (sub $index 1) }}

    <div class="d-flex mt-4">
        {{ if gt $index 0 }}
        <a class="btn btn-light border border-dark mr-2" href="{{ $prev.RelPermalink }}"><i class="bi-caret-left"></i> Previous Lesson</a>
        {{ end }}
        {{ if lt (add $index 1) $numLessons }}
        <a class="btn btn-light border border-dark mr-2" href="{{ $next.RelPermalink }}">Next Lesson <i class="bi-caret-right"></i></a>
        {{ else }}
        <a class="btn btn-light border border-dark mr-2" href="../../../">End Lab <i class="bi-caret-right"></i></a>
        {{ end }}
    </div>

{{ end }}
