<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ .Site.Title }}</title>
        <link rel="icon" href="{{ urls.RelURL "img/favicon.png" }}" type="image/x-icon">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link rel="stylesheet" href="{{ urls.RelURL "css/style.css" }}">
        <script src="{{ urls.RelURL "js/quiz.js" }}"></script>
        <script defer data-domain="mdft.academy" src="https://plausible.io/js/script.js"></script>        
    </head>
    <body {{ block "onload" . }}{{ end }}>

        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand d-flex align-items-center" href="/">
                <img src="{{ urls.RelURL "img/mdft.png" }}" class="mr-2" width="32" height="32">
                <span class="text-align-bottom">MarkUp Labs</span>
            </a>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="https://www.mdft.academy/training">To Academy <i class="bi-arrow-right"></i></a>
                </li>
            </ul>
        </nav>

        <div class="breadcrumb bg-transparent small my-0">
            <a class="breadcrumb-item" href="/"><i class="bi-house"></i></a>
            {{ block "nav" . }}
            {{ end }}
        </div>

        <div class="container pb-4">
            {{ block "main" . }}
            {{ end }}
        </div>
    </body>
</html>

