{{ define "nav" }}
    <a class="breadcrumb-item" href="#">{{ .Title }}</a>
{{ end }}

{{ define "main" }}

    <div class="section-header">
        <h1 class="display-4">{{ .Title }}</h1>
        <p class="lead mt-3">{{ .Description }}</p>
    </div>

    {{ if .Params.courseName }}
    <div class="alert alert-success border mt-3">
        <div class="d-flex align-items-center justify-content-between">
            <p class="mb-0">This lab is part of the <a class="text-success fw-bold" href="{{ .Params.courseLink }}"><strong>{{ .Params.courseName }}</strong></a> training course.</p>
            <a class="btn btn-success btn-sm ml-3" href="{{ .Params.courseLink }}">View Course</a>
        </div>
    </div>
    {{ end }}

    <div class="mt-4">
        {{ .Content }}
    </div>

    <div class="item-grid">
        {{ range sort .Pages "Params.sortkey" }}
            <a href="{{ .RelPermalink }}" class="item-tile">
                <img src="{{ urls.RelURL (add "img/" .Params.image) }}" alt="Lab image">
                <div>{{ .Title }}</div>
            </a>
        {{ end }}
    </div>

{{ end }}
